HelloWorld/.vs/HelloWorld/FileContentIndex/6c332e2c-c3d2-422e-bbdc-6ac6ba59e257.vsidx
HelloWorld/.vs/HelloWorld/FileContentIndex/81630e1d-e747-42b1-a3bd-12d27051b260.vsidx
HelloWorld/.vs/HelloWorld/FileContentIndex/e5fe2caf-38db-4940-9bfb-9a796017ddee.vsidx
HelloWorld/.vs/HelloWorld/FileContentIndex/f3a5ec41-aac6-49cb-a968-e6c5b1eb05f2.vsidx
HelloWorld/.vs/HelloWorld/FileContentIndex/fc4ccc43-0580-4735-a8af-c4167bf13a70.vsidx
